RewriteEngine on
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http://(www\.)?totalgood.com/.*$ [NC]
#RewriteRule \.(gif|jpg)$ - [F]

Options +Indexes
<Files .htaccess>
order allow,deny
deny from all
</Files>

# put the override here
<Files photos>
Allow from All
Satisfy Any
</Files>


